@model ProjetoMercado.DTO.CategoriaDTO
@{
    Layout = "_LayoutAdmin";
}
<h2>Nova Categoria</h2>
<hr>
<form class="form-horizontal" asp-controller="Categorias" asp-action="Salvar" method="post">
    <input type="hidden" asp-for="Id" value="0">
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Insira o nome da Categoria"><br>
    <span asp-validation-for="Nome"></span><br>
    <button class="btn btn-success">Cadastrar</button>

</form>